#cube .front {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
}

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(25px);
          transform: rotateX(-180deg) translateZ(25px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(25px);
          transform: rotateY(90deg) translateZ(25px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(25px);
          transform: rotateY(-90deg) translateZ(25px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
          transform: rotateX(-90deg) translateZ(25px);
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 100%;
          perspective-origin: 50% 100%;
}

#cube {
  width: 30%;
  height: 30%;
  top: 50px;
  left: 15px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s;
}

#cube div {
  background: #1f5c8f;
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;
  border: 2px solid #417699;
  border-radius: 3px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  text-align: center;
  padding: 12.5px 0;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.dot {
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 7px;
}

.front .dot1 {
  top: 21px;
  left: 21px;
}

.back .dot1 {
  top: 5px;
  left: 5px;
}

.back .dot2 {
  top: 37px;
  left: 37px;
}

.right .dot1 {
  top: 21px;
  left: 21px;
}

.right .dot2 {
  top: 37px;
  left: 37px;
}

.right .dot3 {
  top: 5px;
  left: 5px;
}

.left .dot1 {
  top: 5px;
  left: 5px;
}

.left .dot2 {
  top: 37px;
  left: 37px;
}

.left .dot3 {
  top: 5px;
  left: 37px;
}

.left .dot4 {
  top: 37px;
  left: 5px;
}

.top .dot1 {
  top: 20px;
  left: 20px;
}

.top .dot2 {
  top: 5px;
  left: 5px;
}

.top .dot3 {
  top: 37px;
  left: 37px;
}

.top .dot4 {
  top: 5px;
  left: 37px;
}

.top .dot5 {
  top: 37px;
  left: 5px;
}

.bottom .dot1 {
  top: 5px;
  left: 5px;
}

.bottom .dot2 {
  top: 5px;
  left: 21px;
}

.bottom .dot3 {
  top: 5px;
  left: 37px;
}

.bottom .dot4 {
  top: 37px;
  left: 5px;
}

.bottom .dot5 {
  top: 37px;
  left: 21px;
}

.bottom .dot6 {
  top: 37px;
  left: 37px;
}

#cube2 .front {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
}

#cube2 .back {
  -webkit-transform: rotateX(-180deg) translateZ(25px);
          transform: rotateX(-180deg) translateZ(25px);
}

#cube2 .right {
  -webkit-transform: rotateY(90deg) translateZ(25px);
          transform: rotateY(90deg) translateZ(25px);
}

#cube2 .left {
  -webkit-transform: rotateY(-90deg) translateZ(25px);
          transform: rotateY(-90deg) translateZ(25px);
}

#cube2 .top {
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

#cube2 .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
          transform: rotateX(-90deg) translateZ(25px);
}

#cube2 {
  width: 30%;
  height: 30%;
  top: 50px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s;
}

#cube2 div {
  background: #1f5c8f;
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;
  border: 2px solid #417699;
  border-radius: 3px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  text-align: center;
  padding: 12.5px 0;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

#dices {
  height: 280px;
  display: none;
}
/*# sourceMappingURL=dice.css.map */