
#cube .front, #cube3 .front, #cube5 .front, #cube7 .front {
  transform: 
    translateZ(25px);
}

#cube .back, #cube3 .back, #cube5 .back, #cube7 .back {
  transform: 
    rotateX(-180deg)
    translateZ(25px);
}

#cube .right, #cube3 .right, #cube5 .right, #cube7 .right {
  transform:
    rotateY(90deg)
    translateZ(25px);
}

#cube .left, #cube3 .left, #cube5 .left, #cube7 .left {
  transform:
    rotateY(-90deg)
    translateZ(25px);
}

#cube .top, #cube3 .top, #cube5 .top, #cube7 .top {
  transform:
    rotateX(90deg)
    translateZ(25px);
}

#cube .bottom, #cube3 .bottom, #cube5 .bottom, #cube7 .bottom {
  transform:
    rotateX(-90deg)
    translateZ(25px);
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  perspective: 1000px;
  perspective-origin: 50% 100%;
  margin: 10px;
  padding: 50px;
}

#cube, #cube3, #cube5, #cube7{
  width: 30%;
  height: 30%;
  top: 50px;
  left: 15px;
  position: absolute;
  
  transform-style: preserve-3d;
  
  transition: transform 2s;
}

#cube div, #cube3 div, #cube5 div, #cube7 div {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;
  border: 2px solid #969292;
  border-radius: 3px;
  
  margin: 0 auto;  
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  text-align: center;
  padding: 12.5px 0;
  box-sizing: unset;
}

.dot {
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  background: rgb(0, 0, 0);
  border-radius: 7px;  
}

.front .dot1 { top: 21px; left: 21px; }
.back .dot1 { top: 5px; left: 5px; }
.back .dot2 { top: 37px; left: 37px; }
.right .dot1 { top: 21px; left: 21px; }
.right .dot2 { top: 37px; left: 37px; }
.right .dot3 { top: 5px; left: 5px; }
.left .dot1 { top: 5px; left: 5px; }
.left .dot2 { top: 37px; left: 37px; }
.left .dot3 { top: 5px; left: 37px; }
.left .dot4 { top: 37px; left: 5px; }
.top .dot1 { top: 20px; left: 20px; }
.top .dot2 { top: 5px; left: 5px; }
.top .dot3 { top: 37px; left: 37px; }
.top .dot4 { top: 5px; left: 37px; }
.top .dot5 { top: 37px; left: 5px; }
.bottom .dot1 { top:5px; left: 5px; }
.bottom .dot2 { top: 5px; left: 21px; }
.bottom .dot3 { top: 5px; left: 37px; }
.bottom .dot4 { top: 37px; left: 5px; }
.bottom .dot5 { top: 37px; left: 21px; }
.bottom .dot6 { top: 37px; left: 37px; }

#cube2 .front, #cube4 .front, #cube6 .front, #cube8 .front {
  transform: 
    translateZ(25px);
}

#cube2 .back, #cube4 .back, #cube6 .back, #cube8 .back {
  transform: 
    rotateX(-180deg)
    translateZ(25px);
}

#cube2 .right, #cube4 .right, #cube6 .right, #cube8 .right {
  transform:
    rotateY(90deg)
    translateZ(25px);
}

#cube2 .left, #cube4 .top, #cube6 .top, #cube8 .top {
  transform:
    rotateY(-90deg)
    translateZ(25px);
}

#cube2 .top, #cube4 .top, #cube6 .top, #cube8 .top {
  transform:
    rotateX(90deg)
    translateZ(25px);
}

#cube2 .bottom, #cube4 .bottom, #cube6 .bottom, #cube8 .bottom {
  transform:
    rotateX(-90deg)
    translateZ(25px);
}

#cube2, #cube4, #cube6, #cube8 {
  width: 30%;
  height: 30%;
  top: 50px;
  position: absolute;
  
  transform-style: preserve-3d;
  
  transition: transform 2s;
}

#cube2 div, #cube4 div, #cube6 div, #cube8 div {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;
  border: 2px solid #969292;
  border-radius: 3px;
  
  margin: 0 auto;  
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  text-align: center;
  padding: 12.5px 0;
  box-sizing: unset;
}

#dices, #dices2, #dices3, #dices4 {
  height: 280px;
  display: none;
}
