#cube .front {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(50px);
          transform: rotateX(-180deg) translateZ(50px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
          transform: rotateY(-90deg) translateZ(50px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
          transform: rotateX(-90deg) translateZ(50px);
}

.container {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 100%;
          perspective-origin: 50% 100%;
}

#cube {
  width: 50%;
  height: 50%;
  top: 100px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s;
}

#cube div {
  background: #e41212;
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  border: 2px solid #ab1a1a;
  border-radius: 5px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
  padding: 25px 0;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.dot {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 7px;
}

.front .dot1 {
  top: 42px;
  left: 42px;
}

.back .dot1 {
  top: 5px;
  left: 15px;
}

.back .dot2 {
  top: 75px;
  left: 75px;
}

.right .dot1 {
  top: 42px;
  left: 42px;
}

.right .dot2 {
  top: 75px;
  left: 75px;
}

.right .dot3 {
  top: 10px;
  left: 10px;
}

.left .dot1 {
  top: 15px;
  left: 15px;
}

.left .dot2 {
  top: 75px;
  left: 75px;
}

.left .dot3 {
  top: 15px;
  left: 75px;
}

.left .dot4 {
  top: 75px;
  left: 15px;
}

.top .dot1 {
  top: 42px;
  left: 42px;
}

.top .dot2 {
  top: 15px;
  left: 15px;
}

.top .dot3 {
  top: 75px;
  left: 75px;
}

.top .dot4 {
  top: 15px;
  left: 75px;
}

.top .dot5 {
  top: 75px;
  left: 15px;
}

.bottom .dot1 {
  top: 15px;
  left: 15px;
}

.bottom .dot2 {
  top: 15px;
  left: 45px;
}

.bottom .dot3 {
  top: 15px;
  left: 75px;
}

.bottom .dot4 {
  top: 75px;
  left: 15px;
}

.bottom .dot5 {
  top: 75px;
  left: 45px;
}

.bottom .dot6 {
  top: 75px;
  left: 75px;
}

#cube2 .front {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

#cube2 .back {
  -webkit-transform: rotateX(-180deg) translateZ(50px);
          transform: rotateX(-180deg) translateZ(50px);
}

#cube2 .right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
}

#cube2 .left {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
          transform: rotateY(-90deg) translateZ(50px);
}

#cube2 .top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
}

#cube2 .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
          transform: rotateX(-90deg) translateZ(50px);
}

#cube2 {
  width: 50%;
  height: 50%;
  top: 100px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 6s;
  transition: -webkit-transform 6s;
  transition: transform 6s;
  transition: transform 6s, -webkit-transform 6s;
}

#cube2 div {
  background: #e41212;
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  border: 2px solid #ab1a1a;
  border-radius: 5px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
  padding: 25px 0;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.front2 .dot1-2 {
  top: 42px;
  left: 42px;
}

.back2 .dot1-2 {
  top: 5px;
  left: 15px;
}

.back2 .dot2-2 {
  top: 75px;
  left: 75px;
}

.right2 .dot1-2 {
  top: 42px;
  left: 42px;
}

.right2 .dot2-2 {
  top: 75px;
  left: 75px;
}

.right2 .dot3-2 {
  top: 10px;
  left: 10px;
}

.left2 .dot1-2 {
  top: 15px;
  left: 15px;
}

.left2 .dot2-2 {
  top: 75px;
  left: 75px;
}

.left2 .dot3-2 {
  top: 15px;
  left: 75px;
}

.left2 .dot4-2 {
  top: 75px;
  left: 15px;
}

.top2 .dot1-2 {
  top: 42px;
  left: 42px;
}

.top2 .dot2-2 {
  top: 15px;
  left: 15px;
}

.top2 .dot3-2 {
  top: 75px;
  left: 75px;
}

.top2 .dot4-2 {
  top: 15px;
  left: 75px;
}

.top2 .dot5-2 {
  top: 75px;
  left: 15px;
}

.bottom2 .dot1-2 {
  top: 15px;
  left: 15px;
}

.bottom2 .dot2-2 {
  top: 15px;
  left: 45px;
}

.bottom2 .dot3-2 {
  top: 15px;
  left: 75px;
}

.bottom2 .dot4-2 {
  top: 75px;
  left: 15px;
}

.bottom2 .dot5-2 {
  top: 75px;
  left: 45px;
}

.bottom2 .dot6-2 {
  top: 75px;
  left: 75px;
}

#dices {
  height: 280px;
  display: none;
}
/*# sourceMappingURL=dice.css.map */