#kinepolis{
    color: white;
    background-image: url("./../images/small/kinepolis.jpg");
}

#rockhal{
    background-image: url("./../images/small/rockhal.jpg");
}

#belval_plaza{
    background-image: url("./../images/small/belval_plaza.jpg");
}

#student_lounge_belval{
    color: white;
    background-image: url("./../images/small/student_lounge_belval.jpg");
}

#maison_arts_etudiants{
    color: white;
    background-image: url("./../images/small/maison_des_arts_et_des_etudiants.jpg");
}

#maison_arts_etudiants{
    color: white;
    background-image: url("./../images/small/maison_des_arts_et_des_etudiants.jpg");
}

#maison_science_humaines{
    background-image: url("./../images/small/maison_des_sciences_humaines.jpg");
}

#maison_du_nombre{
    background-image: url("./../images/small/maison_du_nombre.jpg");
}

#cafe_savoir{
    background-image: url("./../images/small/cafe_savoir.jpg");
}

#luxembourg_institute_science_technology{
    background-image: url("./../images/small/luxembourg_institute_science_technology.jpg");
}

#restaurant_uni{
    background-image: url("./../images/small/restaurant_universitaire.jpg");
}

#halles_essais_ingenieur{
    background-image: url("./../images/small/halle_d_essais_ingeneurs_belval.jpg");
}

#gaart_belval{
    background-image: url("./../images/small/gaart_belval.jpg");
}

#massenoire{
    background-image: url("./../images/small/massenoire.jpg");
}

#residence_etudiante_Uni-ValII{
    background-image: url("./../images/small/residence_etudiante_Uni-Val2.jpg");
}

#residence_etudiante_Uni-ValI{
    background-image: url("./../images/small/residence_etudiante_Uni-Val1.jpg");
}

#lycee_belval{
    background-image: url("./../images/small/lycee_belval.jpg");
}

#bil_bank{
    background-image: url("./../images/small/bil_bank.jpg");
}

#maison_du_savoir{
    background-image: url("./../images/small/maison_du_savoir.jpg");
}

#llc{
    background-image: url("./../images/small/llc.jpg");
}

#maison_biomedecineII{
    background-image: url("./../images/small/biotech2.jpg");
}

#maison_biomedecineI{
    background-image: url("./../images/small/biotech1.jpg");
}

#maison_innovation{
    background-image: url("./../images/small/maison-innovation.jpg");
}