
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/Project_SE_Group7.iml
.idea/workspace.xml
node_modules/*

.idea/compiler.xml

node_modules/.bin/

node_modules/\@babel/code-frame/lib/

node_modules/*

.idea/watcherTasks.xml

public/*
public/

Code/Tests/Dice.test.js

Code/Tests/Dice.test.js.map

Code/Tests/InitializeFieldArray.test.js

Code/Tests/InitializeFieldArray.test.js.map

Code/Tests/PlayerTest.test.js

Code/Tests/PlayerTest.test.js.map

Code/Tests/restplace.test.js

Code/Tests/restplace.test.js.map

Code/development/Events/quiz.js
