
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/Project_SE_Group7.iml
.idea/workspace.xml
node_modules/*

.idea/compiler.xml

node_modules/.bin/

node_modules/\@babel/code-frame/lib/

node_modules/*
